/* General Styling */
@font-face {
    font-family: 'Jelly Bean';
    src: url(../fonts/Jelly-Bean-Script-DEMO-Reg/Jelly\ Bean\ Script.ttf);
}
@font-face {
    font-family: 'Nesting';
    src: url(../fonts/nesting/NESTING-PERSONALUSE.otf);
}
html{scroll-behavior: smooth;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
}

/*Adding our custom fonts*/
h1, h2, h3, h4, h5, h6, p, a, li, label{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.mast-head p, .products h2, .special > h2, .indox h2{
   font-family: 'Jelly Bean', sans-serif; 
}
h1{
    font-family: 'Nesting', sans-serif;
}

body{
    /*background-color: #330072;*/
    background-image: url(../images/background.jpg);
    background-size: 25%; /* This ensures the image covers the entire element */
    background-position: center; /* Center the image */
    background-repeat: repeat;
     /* Prevent the image from repeating */
}


/*Header nav bar*/
header{
    background-color: #31026c;
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #f4f4f4;
    align-items: center;
    margin-right: 20px
}
header li {
    list-style: none;
}

header nav {
    margin-right: 10px; /* Adjusted for responsiveness */
}
header nav menu{
    display: flex;
    align-items: center;
}
header nav menu li{
    padding: 8px;
    text-align: center;
}

/*Logo design*/
.logo img{
    height: 90px;
    width: auto;
    
}
/*Master header*/
.mast-head{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    text-align: center;
}
.mast-head img{
    height: auto; /* Make the image responsive */
    max-width: 100%; /* Make the image responsive */
}
.mast-head h1{
    color: rgb(229, 174, 36);
    font-size: 50px;
    font-weight: 1000;
}
.mast-head p{
    font-size: 35px;
}
.mast-head .button{
    font-size: 15px;
}
/*footer css*/
footer{
    display: flex;
    background-color: #31026c;
    flex-direction: column;
    align-items: center;
}
footer > div:nth-child(2) > ul{
    display: flex;
    justify-content: center;
    text-align: center;
}
footer li{
    list-style: none;
    padding: 10px;
}

footer div img{
    height: 150px;
}

/*Styling for products*/
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; 
    padding: 5%;
}
.products h2{
    color: #31026c;
    font-size: 40px;
    font-weight: 1000;
    text-align: center;
}
.products h3{
    color: gold;
    font-family: 'Nesting',sans-serif;
}
/*products section has chocolate rows*/
.chocolate-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chocolate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.chocolate > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #31026c;
    border-radius: 20px;
    height: auto;
    padding: 20px;
    margin: 20px;
}
.chocolate-image img{
    height: 80px;
    width: auto;
    padding: 10px;
}
/*Styling our buttons*/
.button{
    background-color: gold;
    padding: 12px;
    border-radius: 15px;
    text-decoration: none;
    width: auto;
    color: #31026c;
    font-size: 15px;
    font-weight: 600;
}
/*Special section*/
.special{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
    background-image: url(../images/background\ gold.jpg);
    background-size: 25%;
}
.special > div{
    display: flex;
    justify-content:center;
    padding: 40px;
}
.special > h2{
    background-color:#31026c;
    color: white;
    border-radius: 80px;
    padding: 10px;
    font-size: 40px; 
    font-weight: 1000;
    text-align: center;
}
/*Gift section in special*/
.gift{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right: 280px;
    background-color: #31026c;
    border-radius: 15px;
    padding: 0px;
}
.gift-image img{
    height: 170px;
    width: auto;
   
}
.gift-cap{
    margin-top: 20px;
}
/*recipes section in special*/
.recipes{
    margin-top: 100px;
    width: 440px;
    background-image: url(../images/recipes.jpg);
    background-color: rgba(106, 27, 27, 0.5); /* Red background with 50% transparency */
    background-size: 70%;
    height: 420px;
    border-radius: 15px;
}
.recipes-cap{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 45%;
}
/*indox section*/
.indox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding: 5%;
}
.indox p{
    padding: 2%;
}

.indox div img{
    height: 250px;
    width: auto;
}
.indox-cap{
    padding: 20px;
}
.indox h2{
    font-size: 40px; 
    font-family: 'Jelly bean', sans-serif;
}
.indox p{
    font-size: 25px;
    color: white;
}
.silk{
    background-image: url(../images/background\ gold.jpg);
    background-size: 25%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
.silk h2{
    font-family: 'Jelly bean', sans-serif;
    color: #31026c;
    font-size: 50px;
}
.silk p{
    color: #31026c;
    font-family: 'Jelly bean', sans-serif;
    font-size: 30px;
}
.silk div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*Desugn for our form*/
.form-grid{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 15px;  
    margin-bottom: 5%;  
}
.form-grid label{
    font-size: 20px;
    color:#31026c;
}
.form-grid div{
    padding: 15px;
}
.form-grid div:nth-child(3) input{
    padding-left: 5px;
}


@media only screen and (max-width: 768px) {
    /* Add specific styles for smaller screens here */
    body {
        background-size: 50%;
    }
    header{
        flex-direction: column;
    }
    .logo{
        margin-left: 100px;
    }
    .mast-head img {
        height: auto;
        max-width: 100%;
    }

    .mast-head h1 {
        font-size: 40px;
    }

    .mast-head p {
        font-size: 15px;
    }

    .mast-head .button {
        font-size: 12px;
    }
    .chocolate-row{
        flex-direction: column;
    }
    .special >div{
        flex-direction: column;
        align-items: center;
    }
    .special{
        align-items: center;
    }
    .gift{
        margin-right: 75px;
        padding: 10px;
        text-align: center;
    }
    .silk{
        flex-direction: column;
    }
    .silk img{
        height: 250px;
        width: auto;
    }
    .indox img{
        height: 170px;
    }
    .indox h2{
        font-size: 50px;
    }
}

   